:root {
  // fonts
  --base-font: Wakid, 'Roboto', sans-serif;
  --secondary-font: 'Roboto', sans-serif;

  // z-index
  --modal-z-index: 500;
  --header-z-index: 550;
  --footer-z-index: 550;
  --input-error-z-index: 100;
}
