@import 'src/shared/styles/device-sizes.scss';

.footerDesktop {
  background-color: var(--secondary-color-light);
  @media (max-width: $device-tabletL) {
    display: none;
  }
}

.container {
  padding: 20px;
  max-width: $device-tabletL;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  background-color: var(--secondary-color-light);
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);

}

.footerDesktopLanguageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.socialIcons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.footerInfo {
  max-width: 245px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 44px;
  justify-items: center;
}
