$device-mobileS: 375px;
$device-mobile: 425px;
$device-mobileL: 475px;

$device-tabletS: 600px;
$device-tablet: 768px;
$device-tabletL: 1024px;

$device-laptop: 1280px;
$device-laptopL: 1400px;

$device-desktopS: 1600px;
$device-desktop: 1920px;
$device-desktopL: 2560px;
